.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/bg.png?e0b2175…);
  height: 90vh;
}
.not-found-text-bg {
  background-color: #0080c8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 70vh;
  color: white;
}
.text-404 {
  font-size: 130px;
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px #ffffff38;
}
.not-found-text {
  font-size: 30px;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .text-404 {
    font-size: 100px;
  }
  .not-found-text {
    font-size: 16px;
  }
}
