.slide-form-container {
  width: 400px;
  max-width: 600px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 999;
}

.slide-form-text {
  font-weight: bold;
  font-size: 41px;
  color: black;
}

.action-card_title-slide {
  position: relative;
  margin-top: 30px;
}

.form-container-slide {
  margin-top: 15px;
}

.action-cart_inner-slide {
  width: 100%;
}

.form-list-slider .form-control {
  padding: 8px;
  border-radius: 30px;
}

.form-list-slider input {
  background-color: #0080c8;
  border: 1px solid white;
}

.form-list-slider input::placeholder {
  color: white;
}

.form-list-slider select {
  padding: 8px;
  background-color: #0080c8;
  border: 1px solid white;
  color: white;
}

.option-box-slider {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: white;
  right: 12px;
  top: 17px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-button-slider {
  width: 100%;
  border-radius: 30px;
  margin-top: 20px;
}

.option-box-close {
  position: absolute;
  background-color: white;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-box-close svg {
  font-size: 30px;
}

@media only screen and (min-width: 1536px) and (max-height: 960px) {
  .form-list-slider .form-control {
    padding: 15px;
  }

  .form-list-slider .form-element {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }

  .slide-form-text {
    margin-top: 2rem !important;
  }

  .option-box-slider {
    top: 2px;
    width: 53px;
    height: 53px;
  }

  .form-list-slider select {
    padding: 15px;
  }
}

@media only screen and (min-width: 1440px) and (max-height: 900px) {
  .form-list-slider .form-control {
    padding: 13px;
  }

  .form-list-slider .form-element {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 25px;
  }

  .slide-form-text {
    margin-top: 2rem !important;
  }

  .option-box-slider {
    top: 0px;
  }

  .form-list-slider select {
    padding: 13px;
  }
}

@media only screen and (min-width: 1366px) and (max-height: 768px) {
  .form-list-slider .form-control {
    padding: 9px !important;
  }

  .form-list-slider .form-element {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 25px;
  }

  .slide-form-text {
    margin-top: 2rem !important;
  }

  .option-box-slider {
    top: -2px;
    width: 50px;
    height: 50px;
  }

  .form-list-slider select {
    padding: 9px !important;
  }

  .form-text-slider p {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1280px) and (max-height: 800px) {
  .form-list-slider .form-control {
    padding: 11px;
  }

  .form-list-slider .form-element {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 15px;
  }

  .slide-form-text {
    margin-top: 2rem !important;
  }

  .option-box-slider {
    top: -2px;
  }

  .form-list-slider select {
    padding: 11px;
  }
}

@media only screen and (min-width: 1280px) and (max-height: 770px) and (min-height: 730px) {}

@media only screen and (min-width: 1280px) and (max-height: 700px) {
  .slide-form-text {
    margin-top: 0.5rem !important;
    font-size: 25px;
  }

  .form-list-slider .form-control {
    padding: 5px;
  }

  .form-list-slider .form-element {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }

  .slide-form-text {
    margin-top: 2rem !important;
  }

  .form-text-slider p {
    font-size: 10px;
  }

  .option-box-slider {
    top: 0px;
    right: 11px;
    width: 37px;
    height: 37px;
  }

  .form-list-slider select {
    padding: 5px;
    border: 1px solid white;
  }

  .form-select {
    background-image: none !important;
  }
}

/* For 480 Resolution */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .slide-form-container {
    width: 100%;
    position: relative;
    right: 0px;
    top: 0px;
    z-index: 999;
  }

  .option-box-slider {
    top: 7px;
  }

  .option-box-close svg {
    font-size: 45px;
  }
}