.modal-content {
  border-radius: 0 !important;
  margin-top: 50%;
}
.phone-confirm-accept {
  font-weight: bold;
  color: green;
  text-align: center;
}
.phone-confirm-reject {
  font-weight: bold;
  color: red;
  text-align: center;
}
.modal-phone-verify-input {
  margin-top: 15px;
  padding: 5px 10px;
  width: 50%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
  font-size: 20px;
}
.modal-body {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 50px;
}
.modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-footer button {
  width: 150px;
  border-radius: 35px;
  color: white;
  background-color: #0080c8;
  border: 1px solid white;
  font-weight: 500;
}
.modal-footer button:hover {
  color: #0080c8;
  background-color: white;
  font-weight: 500;
  border: 1px solid #0080c8;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: none;
}
.modal-header button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: black;
  border-radius: 50%;
  background-image: url(../../assets/images/closebutton.png);
}
