.footer-top {
  background-color: #c0e8ff;
  padding: 40px 0px;
}

.footer-logo img {
  width: 270px;
  height: auto;
}

.footer-top_right p {
  color: #0080c8;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0px;
}

.footer-bottom {
  background-color: #0080c8;
  padding: 40px 0px;
}

.footer-list ul {
  list-style: none;
  padding: 0px;
}

.footer-list ul li {
  color: white;
}

.footer-list ul h4 {
  font-weight: bold;
  color: white;
}

.footer_social-media {
  text-align: center;
}

.footer_social-media div {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.footer_social-media ul {
  list-style: none;
  padding: 0px;
}

.footer_social-media svg {
  color: white;
  font-size: 25px;
  margin-right: 10px;
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .footer-top {
    padding: 30px 0px;
  }
  .footer-signature {
    width: 90%;
    margin-top: 3%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-top {
    padding: 30px 0px;
  }
  .footer-signature {
    width: 90%;
    margin-top: 10px;
  }
  .footer-logo img {
    width: 220px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footer-top {
    padding: 15px 0px;
  }
  .footer-signature {
    width: 90%;
    margin-top: 10px;
  }
  .footer-logo img {
    width: 220px;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .footer-signature {
    width: 100%;
  }
}
