.advantage-card {
  position: relative;
  display: flex;
  margin-bottom: 25px;
}

.advantage-discount {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #0080c8;
  color: white;
  font-weight: 500;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
}

.advantage-card_image {
  position: relative;
  flex: 1;
}

.advantage-card_image img {
  width: 100%;
  height: auto;
}

.advantage-address .advantage-location {
  float: right;
  color: gray;
  font-weight: 500;
}

.advantage-bottom_container {
  flex: 2;
  padding: 25px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.07);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.advantage-bottom_container span {
  font-weight: 500;
  font-size: 17px;
}

.advantage-address {
  display: flex;
  justify-content: space-between;
}

.advantage-address p {
  margin: 0px;
}

.advantage-title {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.advantage-title h5 {
  margin: 0px;
}

.advantageList {
  display: flex;
  list-style: none;
  justify-content: space-around;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  margin-top: 25px;
}

.advantageList li {
  background: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #808080;
}

.active-btnn {
  color: #0080c8 !important;
}

.advantage-location_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-location_container p {
  margin: 0px;
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .advantageList {
    padding: 0px !important;
    flex-wrap: wrap;
  }

  .advantage-card {
    display: block;
  }

  .advantage-bottom_container {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
